#code {
    color: lime;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;

}

body {
    background-image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfxRFpm_-M4QUo0murklGnPz0Gz4i7qRFTtaIFCsOq81qD7qWoNcDKj9gDLg&s";
}