#topbar {
    display: flex;
    background-color: #242424;
    width: 100%;
    height: 20%;
    padding: 25px;
    justify-self: flex-start;
   
}

#Title:hover {
    text-decoration: underline;
}

#Title:visited,
#Title:link,
#Title:active,
#Title {
    font-family: "Emblema One", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-decoration: unset;
    border: none;
    text-decoration-color: transparent;
}

body {
    display: flex;
    align-content: flex-start;
    background-color: black;
    justify-content: start;
}

#coolmiddle {
    justify-self: center;
    display: flex;
    color:white;
    text-shadow:
    0 0 7px #ffffff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #4b4b4b,
    0 0 82px #4b4b4b,
    0 0 92px #4b4b4b,
    0 0 102px #4b4b4b,
    0 0 151px #4b4b4b;
}